# Q1. Is it true that the home team is more likely to win?

We begin by initializing the CSV file. It is necessary to check its content and adapt it to our needs.

In [8]:
import pandas as pd

pd.set_option("display.max_columns", None)

df = pd.read_csv('../laliga.csv')
df

,season,division,matchday,date,time,home_team,away_team,score
0,1928-1929,1,1,2/10/29,NaN,Arenas Club,Athletic Madrid,2:3
1,1928-1929,1,1,2/10/29,NaN,Espanyol,Real Unión,3:2
2,1928-1929,1,1,2/10/29,NaN,Real Madrid,Catalunya,5:0
3,1928-1929,1,1,2/10/29,NaN,Donostia,Athletic,1:1
4,1928-1929,1,1,2/12/29,NaN,Racing,Barcelona,0:2
...,...,...,...,...,...,...,...,...
48775,2021-2022,2,42,5/29/22,NaN,Real Oviedo,UD Ibiza,NaN
48776,2021-2022,2,42,5/29/22,NaN,Real Sociedad B,Real Zaragoza,NaN
48777,2021-2022,2,42,5/29/22,NaN,Sporting Gijón,UD Las Palmas,NaN
48778,2021-2022,2,42,5/29/22,NaN,CD Tenerife,FC Cartagena,NaN
48779,2021-2022,2,42,5/29/22,NaN,Real Valladolid,SD Huesca,NaN

The necessary information is contained within the score column. Its information can be broken into two new columns, home goals and away goals, for better handling. And additional result column that uses the 1, 2 or X format can also be added.

In [9]:
df["local_score"] = df["score"].str.split(":").str[0]
df["away_score"] = df["score"].str.split(":").str[1]
df['results'] = df.apply(lambda row: 1 if row['local_score'] > row['away_score'] else (2 if row['away_score'] > row['local_score'] else 'X'), axis=1)
df

,season,division,matchday,date,time,home_team,away_team,score,local_score,away_score
0,1928-1929,1,1,2/10/29,NaN,Arenas Club,Athletic Madrid,2:3,2,3
1,1928-1929,1,1,2/10/29,NaN,Espanyol,Real Unión,3:2,3,2
2,1928-1929,1,1,2/10/29,NaN,Real Madrid,Catalunya,5:0,5,0
3,1928-1929,1,1,2/10/29,NaN,Donostia,Athletic,1:1,1,1
4,1928-1929,1,1,2/12/29,NaN,Racing,Barcelona,0:2,0,2
...,...,...,...,...,...,...,...,...,...,...
48775,2021-2022,2,42,5/29/22,NaN,Real Oviedo,UD Ibiza,NaN,NaN,NaN
48776,2021-2022,2,42,5/29/22,NaN,Real Sociedad B,Real Zaragoza,NaN,NaN,NaN
48777,2021-2022,2,42,5/29/22,NaN,Sporting Gijón,UD Las Palmas,NaN,NaN,NaN
48778,2021-2022,2,42,5/29/22,NaN,CD Tenerife,FC Cartagena,NaN,NaN,NaN
48779,2021-2022,2,42,5/29/22,NaN,Real Valladolid,SD Huesca,NaN,NaN,NaN